.header--hero--img {
	height: 100vh;
	background: url('../img/hero1.jpg');
	background-size: cover;
	background-position: center;
}

.header--hero--img--content {
	top: 120px;
	position: relative;
}

.header--hero--img--content h1 {
	text-shadow: 0 6px 32px #484848;
	font-size: 48px;
	margin-bottom: 32px;
	color: #fff;
}

.header--hero--img--wrapper {
	width: 80%;
	margin: auto;
}

.header--hero--img--list {
	display: flex;
	border-bottom: 1px solid #fff;
	margin-bottom: 24px;
}

.header--hero--img--list li {
	padding: 24px 0 12px;
	margin-right: 40px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.header--hero--img--list__active--item {
	border-bottom: 3px solid #fff;
}


.header--search--container {
	height: 80px;
	display: flex;
}

.header--search--box {
	flex-grow: 1;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 10px 36px rgba(0,0,0,0.65);
	display: flex;
}

.header--search--icon {
	color: #464646;
	padding: 0 20px;
	display: flex;
	align-items: center;
}

.header--search--icon i {
	color: #464646;
	font-size: 24px;
}

.header--search--input--wrapper {
	width: 48%;
	border-right: 1px solid #ebebeb;
	display: flex;
	padding-right: 32px;
}

.header--search--input--holder {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.header--search--input--holder .header--search--input {
	font-size: 18px;
	border: none;
	color: #464646;
	flex-grow: 1;
	font-weight: 600;
}

.header--search--input:focus {
	outline: none;
}

.header--search--dates {
	width: 28%;
	border-right: 1px solid #ebebeb;
	

}
.header--search--dates, .header--search--guests {
	font-weight: 600;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header--search--dates--title, .header--search--guests--title {
	color: #464646;
	margin-bottom: 8px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;

}

.header--search--dates--format, .header--search--guests--number {
	color: #767676;
	font-size: 18px;
}


.header--search--guests {
	width: 24%;
}

.header--search--dates--format, .header--search--guests--number {
	cursor: pointer;
}
.header--search--button--wrapper {
	padding-left: 12px;
}

.header--search--button {
	width: 80px;
	height: 80px;
	background: #FF5A5F;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 10px 36px rgba(0,0,0,0.65);
	cursor: pointer;
}

.header--search--button i {
	color: #fff;
}

