.main--large--item--container {
	display: flex;
	margin-left: -8px;
	margin-right: -8px;
	position: relative;
}

.main--large--item--container--next--button, .main--large--item--container--prev--button {
	height: 40px;
	width: 40px;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: #fff;
	cursor: pointer;
}

.main--large--item--container--next--button {
	right: -1%;
  	top: 28%;
	z-index: 1;

}
.main--large--item--container--prev--button {
	left: -1%;
  	top: 28%;
	z-index: 1;
}

.main--large--item--description, .main--large--item--title {
	color: #484848;
}

.main--large--item--image--holder {
	background: url('../img/large-item.jpg');
	width: 100%;
	height: 204px;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	margin-bottom: 16px;
}

.main--large--item--text--holder {
	display: flex;
	flex-direction: column;
}

.main--large--item--text--holder .main--large--item--title {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 4px;
}

.main--large--item--description {
	font-weight: 100;
}

.main--large--item--holder {
	width: 33.33333333%;
	padding: 0 8px;
	box-sizing: border-box;
}

.main--large--item--text--holder {
	width: 85%;
}