.part {
	padding-top: 24px;
	padding-bottom: 40px;
}

.part--title--text h2, .part--title--text h3 {
	color: #464646;
}

.part--title--text h3 {
	font-weight: 100;
}

.first--part {
	padding: 32px 0;
}

.part--title {
	margin-bottom: 16px;
	width: 50%;
	display: flex;
	cursor: pointer;

}

.part--title:hover .part--title--icon {
	opacity: 1;
}

.part--title--text {
	width: 95%;
}

.part--title--icon {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all .3s ease;
}

main {
	width: 70%;
	margin: auto;
	padding: 0 32px;
}

.main--link .link--description {
	color: #008489;
	margin-right: 8px;
	font-size: 18px;
	font-weight: 700;
}

.main--link {
	display: flex;
}

.main--link .link--icon {
	display: flex;
	align-items: center;
}
.main--link:hover .link--description {
	text-decoration: underline;
}