.part {
	padding-top: 24px;
	padding-bottom: 40px;
}

.title-text__h2, .title-text__h3 {
	color: #464646;
}

.title-text__h3 {
	font-weight: 100;
}

.first-part {
	padding: 32px 0;
}

.first-part__h2 {
	margin-bottom: 16px;
}

.part-title {
	margin-bottom: 16px;
	width: 50%;
	display: flex;
	cursor: pointer;

}

.part-title:hover .part-title__icon {
	opacity: 1;
}

.title-text {
	width: 95%;
}

.part-title__icon {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all .3s ease;
}

main {
	width: 1070px;
	margin: auto;
	padding: 0 32px;
}

.main--link .link--description {
	color: #008489;
	margin-right: 8px;
	font-size: 18px;
	font-weight: 700;
}

.main--link {
	display: flex;
}

.main--link .link--icon {
	display: flex;
	align-items: center;
}
.main--link:hover .link--description {
	text-decoration: underline;
}