.medium-item-container {
	display: flex;
	margin-left: -8px;
	margin-right: -8px;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

.medium-item-holder {
	width: 25%;
	padding: 8px 8px 12px;
	box-sizing: border-box;
}

.medium-item__image-holder {
	height: 150px;
	width: 100%;
	background: url('../img/medium-item.jpg');
	background-size: cover;
	background-position: center;
}

.medium-item-text-holder {
	padding: 8px 0;
	display: flex;
	flex-direction: column;
}

.medium-item-text-holder__item-categories {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 4px;
}

.medium-item-text-holder__item-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 4px;
}

.medium-item-text-holder__item-price {
	font-weight: 100;
	font-size: 14px;
}

.medium-item-text-holder-item-rating {
	display: flex;
	font-size: 12px;
	font-weight: 700;
}

.medium-item-text-holder-item-rating__stars {
	display: flex;
	align-items: center;
	margin-right: 2px;
}

.medium-item-text-holder-item-rating__score {
	color: #008489;
	margin-right: 2px;
}