.small-medium-item-container {
	display: flex;
	margin-left: -8px;
	margin-right: -8px;
	position: relative;
}

.small-medium-item-holder {
	width: 20%;
	padding: 0 8px;
	box-sizing: border-box;
}

.small-medium-item-container__next-button {
	height: 40px;
	width: 40px;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: #fff;
	cursor: pointer;

	right: -1%;
  	top: 42%;
	z-index: 1;
}



.small-medium-item-image-holder {
	background: url('../img/small-medium-item.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 240px;
	position: relative;
	border-radius: 4px;
}

.small-medium-item-image-holder:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
}

.small-medium-item-text-holder__item-place, .small-medium-item-text-holder__item-price {
	color: #fff;
	width: 60%;
	text-align: center;
}

.small-medium-item-text-holder__item-place {
	font-size: 18px;
	font-weight: 700;
}

.small-medium-item-text-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 60%;
	z-index: 1;
}